# Gradle files
.gradle/
build/

# IntelliJ IDEA files
.idea/
*.iml
*.iws
*.ipr

# Android Studio files
captures/
.externalNativeBuild/
.cxx/
local.properties

# OS files
.DS_Store
Thumbs.db

# Kotlin
.kotlin/

# Secrets
google-services.json
jks/
keystore/
*.jks
*.keystore

# Backup
*.bak
*.swp
